<!DOCTYPE html>
<html lang="en">
<head>
  
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Inicio</title>
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="{% static 'js/home.js' %}"></script>

  
</head>
<body>


    
  {% include 'base.html' %}
  {% csrf_token %}

  <div id="containt">

    <div id='slider-main'>
        <!-- Contenido de la página -->
      <div class="slider-container">
        <button class="prev-btn" id="prevBtn"><span class="material-symbols-outlined">chevron_left</span></button>
        <div class="slider" id="slider">

          <div class="icon"><a href=""><span class="material-symbols-outlined">mail</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">badge</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">newspaper</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">business_center</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">military_tech</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">ballot</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">pageview</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">folder_open</span></a></div>

        </div>
        
        <button class="next-btn" id="nextBtn"><span class="material-symbols-outlined">chevron_right</span></button> 
      </div>
      
    </div>


    


    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Profesor: X </h1>
        <h2 class="modal-title fs-5" id="exampleModalLabel">Materia: X </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <!-- PAPER START -->
    
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01"><i class="fa-solid fa-paperclip"></i></label>
            <input type="file" class="form-control" id="inputGroupFile01">
          </div>

          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea"></textarea>
            <button type="button" class="btn btn-outline-primary">Enviar</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Actionw</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>

        <!-- PAPER END -->  

      </div>
      
    </div>
  </div>
</div>
<!-- End Modal -->

<div id="prueba"></div>

  </div>



</body>
</html>