<!DOCTYPE html>
<html lang="en">
<head>
  
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Inicio</title>
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="{% static 'js/home.js' %}"></script>

  
</head>
<body>


    
  {% include 'base.html' %}
  {% csrf_token %}


  <div id="containt">

    <div id='slider-main'>
        <!-- Contenido de la página -->
      <div class="slider-container">
        <button class="prev-btn" id="prevBtn"><span class="material-symbols-outlined">chevron_left</span></button>
        <div class="slider" id="slider">

          <div class="icon"><a href=""><span class="material-symbols-outlined">mail</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">badge</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">newspaper</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">business_center</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">military_tech</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">ballot</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">pageview</span></a></div>
          <div class="icon"><a href=""><span class="material-symbols-outlined">folder_open</span></a></div>

        </div>
        
        <button class="next-btn" id="nextBtn"><span class="material-symbols-outlined">chevron_right</span></button> 
      </div>
      
    </div>






    <div id="card">
      <!-- {% if content %}
  
        {% for e in content %}
  
          
          
  
        {% endfor %}
  
      {% endif %} -->

      <div class="card decoration_card" style="width: 18rem;">
        <img src="../static/images/agente.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">{{e.texto}}</h5>
          <p class="card-text">Recorderis: sadsadasd</p>
        </div>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item">4. ALEX FERNANDO LOPEZ: <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="" data-tarea-id="480296055" data-info="{&quot;profesor&quot;: &quot;ALEX FERNANDO LOPEZ&quot;, &quot;materia&quot;: &quot;AMBIENTAL Y SST&quot;}">Actividad 9. Verificación y reporte condiciones inseguras, reporte de actos inseguros e incidentes: Actividad 9. Verificación y reporte condiciones inseguras, reporte de actos inseguros e incidentes</a></li>
          <li class="list-group-item">5. ALEX FERNANDO LOPEZ: <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="" data-tarea-id="480295550" data-info="{&quot;profesor&quot;: &quot;ALEX FERNANDO LOPEZ&quot;, &quot;materia&quot;: &quot;AMBIENTAL Y SST&quot;}">Actividad 8. Taller peligros y riesgos: Actividad 8. Taller peligros y riesgos</a></li>
          <li class="list-group-item">6. ALEX FERNANDO LOPEZ: <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="" data-tarea-id="480294715" data-info="{&quot;profesor&quot;: &quot;ALEX FERNANDO LOPEZ&quot;, &quot;materia&quot;: &quot;AMBIENTAL Y SST&quot;}">Actividad 7. Taller conceptos epidemiológicos: Actividad 7. Taller conceptos epidemiológicos</a></li>
        </ul>
        <div class="card-body decoration_card">
          <a href="#" class="card-link btn btn-light">Todas las tareas</a>
          <a href="{{'getUrl'}}{{e.href}}" class="card-link btn btn-warning">Ver curso</a>
        </div>
      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="teacher_title">Profesor: X </h1>
        <h2 class="modal-title fs-5" id="work_title">Materia: X </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <!-- PAPER START -->
    
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01"><i class="fa-solid fa-paperclip"></i></label>
            <input type="file" class="form-control" id="file" name="file" multiple>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">https://www.ejemplo.com/</span>
              <input type="text" placeholder="Adjuntar vinculo (Opcional)" name="vinculo" class="form-control" id="vinculo" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" placeholder="Algun dato o informacion para el profe (Opcional)"></textarea>
            <input type="hidden" id="tarea_id" value>
            <button type="button" class="btn btn-outline-primary" id="sendImage">Enviar</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Después</a></li>
              <li><a class="dropdown-item" href="#">Después</a></li>
              <li><a class="dropdown-item" href="#">Después</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Después</a></li>
            </ul>
          </div>

          <div class="alert alert-success" role="alert" style="display: none;" id="alertSuccess">
            <h4 class="alert-heading">¡Listo!👌​​</h4>
            <p>El archivo ha sido enviado</p>
          </div>
        
          <div class="alert alert-danger" role="alert" style="display: none;" id="alertDecline">
            <h4 class="alert-heading">Error 🤷‍♂️​</h4>
            <p>No se pudo entregar el archivo</p>
          </div>

        <!-- PAPER END -->  

      </div>
      
    </div>
  </div>
</div>
<!-- End Modal -->




</body>
</html>